<section class="contact section">
    <h2 class="section__title">Contactez Moi</h2>
    <span class="section__subtitle">Entrer en contact</span>
    <div class="contact__container containerPersonal grid">
        <div>
            <div class="contact__information">
                <i class="fas fa-phone contact__icon"></i>
                <div>
                    <h3 class="contact__title">Téléphone</h3>
                    <span class="contact__subtitle">58 612 156</span>
                </div>

            </div>

            <div class="contact__information">
                <i class="fas fa-envelope contact__icon"></i>
                <div>
                    <h3 class="contact__title">Email</h3>
                    <span class="contact__subtitle">alaeddineboubaker@gmail.com</span>
                </div>

            </div>

            <div class="contact__information">
                <i class="fas fa-map-marker-alt contact__icon"></i>
                <div>
                    <h3 class="contact__title">Adresse</h3>
                    <span class="contact__subtitle">55, Av Habib Bougatfa Mannouba</span>
                </div>

            </div>
        </div>
        <form action="" class="contact__form grid">
            <div class="contact__inputs grid">
                <div class="contact__content">
                    <label for="Nombre" class="contact__label">Numéro</label>
                    <input type="text" class="contact__input">
                </div>
                <div class="contact__content">
                    <label for="Nombre" class="contact__label">Poster</label>
                    <input type="email" class="contact__input">
                </div>
            </div>
            <div class="contact__content">
                <label for="Nombre" class="contact__label">Projet</label>
                <input type="text" class="contact__input">
            </div>
            <div class="contact__content">
                <label for="Nombre" class="contact__label">Message</label>
                <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea>
            </div>
            <div>
                <a href="" class="button button--flex">
                    Envoyer un message
                    <i class="fas fa-comment-dots button__icon"></i>
                </a>
            </div>
        </form>

    </div>
</section>