<section class="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Projets Récentes</span>

    <div class="portfolio__container containerPersonal swiper-container">
        <!-- [navigation]="{ nextEl: '.carousel-next', prevEl: '.carousel-previous' }" -->



        <div class="swiper-wrapper">

        <!-- portfolio 1 -->
        <div class="  swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/ledeal01.JPG" alt="" class="portfolio__img">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Application web e-commerce</h3>
                        <p class="portfolio__description"> Application web e-commerce et intégration d'un chatbot.<br>
                        Lanages et frameworks utilisées : Java(Spring boot), Spring Data Rest, Spring web, RestRepository, JPA, Angular , MySQL, IBMWatson.   
                        </p>
                        <a href="" class="button button--flex button--small portfolio__button">
                            Demo
                            <i class="fas fa-arrow-right button__icon"></i>
                        </a>
                    </div>
                </div>

        </div>
        <!-- portfolio 2 -->
        <div class="swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/home01.png" alt="" class="portfolio__img">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Site web e-commerce</h3>
                        <p class="portfolio__description">Catalogue e-commerce.<br>
                            Lanages et frameworks utilisées : Java(Spring boot), Spring Data Rest, Spring web, RestRepository, JPA, Angular , MySQL.   
                        </p>
                        <a href="" class="button button--flex button--small portfolio__button">
                            Demo
                            <i class="fas fa-arrow-right button__icon"></i>
                        </a>
                    </div>
                </div>

        </div>
        <!-- portfolio 3 -->
        <div class=" swiper-slide">
                    <div class="portfolio__content grid">
                        <img src="assets/img/foodapp.JPG" alt="" class="portfolio__img">
                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Frontend Food</h3>
                            <p class="portfolio__description">Site web Food.<br>
                            Langages et frameworks utilisées : Angular, Html, CSS, JavaScript, TypeScript.   
                            </p>
                            <a href="" class="button button--flex button--small portfolio__button">
                                Demo
                                <i class="fas fa-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>
        
        </div>
        <!-- portfolio 4 -->
        <div class="swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/para01.JPG" alt="" class="portfolio__img">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Application web gestion de stocks et facturation</h3>
                        <p class="portfolio__description">Langages et frameworks utilisées : PHP, Html, CSS, bootstrap, JavaScript, Ajax, JQuery.</p>
                        <a href="" class="button button--flex button--small portfolio__button">
                            Demo
                            <i class="fas fa-arrow-right button__icon"></i>
                        </a>
                    </div>
                </div>

        </div>
        <!-- portfolio 5 -->
        <div class=" swiper-slide">
                    <div class="portfolio__content grid">
                        <img src="assets/img/leaflet.JPG" alt="" class="portfolio__img">
                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Application web leaflet.JS</h3>
                            <p class="portfolio__description">Langages et frameworks utilisées : Java, ,Springboot, SpringDataRest, Angular, Html, CSS, JavaScript, TypeScript.</p>
                            <a href="" class="button button--flex button--small portfolio__button">
                                Demo
                                <i class="fas fa-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>
    
        </div>
        <!-- portfolio 6 -->
        <div class=" swiper-slide">
            <div class="portfolio__content grid">
                <img src="assets/img/chat.JPG" alt="" class="portfolio__img">
                <div class="portfolio__data">
                    <h3 class="portfolio__title">Application web chat WebSockets</h3>
                    <p class="portfolio__description">Langages et frameworks utilisées : Java, Springboot, WebSocket, Stomp, Angular, Html, CSS.</p>
                    <a href="" class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="fas fa-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>

        </div>
        <!-- portfolio 7 -->
        <div class=" swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/empmanager.jpg" alt="" class="portfolio__img">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Application web</h3>
                        <p class="portfolio__description">Application web gestion employées et congés.<br>
                        Lanages et frameworks utilisées : Java(Spring boot), Spring Data Rest, Spring web, RestRepository, JPA, Angular , MySQL.   
                        </p>
                        <a href="" class="button button--flex button--small portfolio__button">
                            Demo
                            <i class="fas fa-arrow-right button__icon"></i>
                        </a>
                    </div>
                </div>
    
        </div>

        </div>
        <div class="swiper-button-prev"><i class="fas fa-angle-left swiper-portfolio-icon"></i></div>
        <div class="swiper-button-next"><i class="fas fa-angle-right swiper-portfolio-icon"></i></div>
        <div class="swiper-pagination"></div>

    </div>
    <!-- <i class="carousel-prev fas fa-user uil uil-angle-left-b" role="button" aria-label="Next slide"></i> -->

</section>