<section class="project secction">
    <div class="project__bg">
        <div class="project__container containerPersonal grid">
            <div class="project__data">
                <h2 class="project__title">Vous avez un nouveau projet ?</h2>
                <a href="" class="button button--flex button--white">
                        Contactez-moi
                    <i class="fas fa-envelope-open-text project__icon button__icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>