<section class="about section">
    <h2 class="section__title">A propos de moi</h2>
    <span class="section__subtitle">Introduction</span>
    <div class="about__container containerPersonal grid">
        <img src="assets/img/allla.png" alt="" class="about__img" style="width: 500px; height: 400px;">
        <div class="about__data">
            <p class="about__descripcion">
                Développeur full stack web et data scientist junior 26 ans, J'ai une maîtrise en science des données et en développement de logiciels de l' Ecole Supérieure d'Economie Numérique.
                J'aime coder autour des frameworks. travaillant à la fois sur le frontend et le backend. Je m'efforce toujors d'apprendre et de développer de nouvelles compétences et de devenir développeur logiciel senior.            </p>
            <div class="about__info">
                <div>
                    <span class="about__info-title">02+</span>
                    <span class="about__info-name">Années <br> Expériences</span>
                </div>
                <div>
                    <span class="about__info-title">15+</span>
                    <span class="about__info-name">Projets <br> Complets</span>
                </div>


            </div>
            <div class="about__buttons">
                <a download="" href="assets/pdf/Developpeur Web Full Stack.pdf" class="button button--flex">
                    Download CV <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>