<footer class="footerPersonal">
    <div class="footer__bg">
        <div class="footer__container containerPersonal grid">

            <h1 class="footer__title">Aladinbk</h1>

          <!-- <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Servicios</a>
                </li>
            </ul>
            -->   
            <div class="footer__socials">
                <a href="https://www.facebook.com/aladin.boubaker.3/" class="footer__social" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>

                <a href="https://www.instagram.com/aladin.bk/?hl=fr" class="footer__social" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                
                <a href="https://www.linkedin.com/in/alaeddineboubaker/" class="footer__social" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/aladinbk" class="footer__social" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>

        <p class="footer__copy">&#169; Aladinbk. All right reserved </p>
    </div>
</footer>